
.icon-calc:before { content: '\e800'; } /* '' */
.icon-fb-icon:before { content: '\e801'; } /* '' */
.icon-graf:before { content: '\e802'; } /* '' */
.icon-header-strelka:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-plainer:before { content: '\e805'; } /* '' */
.icon-rub:before { content: '\e806'; } /* '' */