/* block fon */

.fon-orange {
  background: linear-gradient(0deg, #651FFF -1.81%, #FF5900 33.5%, rgba(253, 191, 15, 0.3) 84.16%, #FFFFFF 145.56%), #FDBF0F;
}

.fon-orange::before {
  content: "";
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 59.03%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.rings {
  position: absolute;
  top: 0;
  left: 0;
}

.mishen {
  position: absolute;
  top: 52px;
  right: -152px;
  z-index: 2;
  opacity: 90%;
}

.girls {
  position: absolute;
  z-index: 2;
  right: 218px;
  bottom: 0;
}

.girls img,
.mishen img,
.rings img {
  max-width: 100%;
}

/* ---------------- */

/* header */
.header {
  position: relative;
  padding-top: 14px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 0;
  }
}

.header__burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

.header__logo {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: calc(22px + 14 * (100vw / 1920));
  line-height: 42px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .header__logo {
    font-size: calc(22px + (14 + 14 * 0.7) * ((100vw - 320px) / 1920));
  }
}

.header__logo a {
  text-decoration: none;
  color: #000000;
}

.links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.1875rem;
  color: #000000;
}

.header__navigation {
  display: block;
}

@media screen and (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.header__navigation-menu {
  list-style-type: none;
  display: flex;
  padding-top: 6px;
  padding-left: 6.97vw;
  justify-content: space-between;
}

.header__contacts {
  position: relative;
  padding-top: 0.75rem;
  justify-content: flex-end;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}

.contacts__address {
  display: flex;
  justify-content: flex-end;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  /* width: 13.5rem; */
  width: 10.5rem;
}

.contacts__phone {
  display: flex;
  justify-content: flex-end;
  width: 14.375rem;
}

.contacts__button {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .contacts__phone,
  .contacts__button,
  .contacts__address {
    justify-content: center;
  }

}

.button {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background: #000000;
  box-shadow: 0px 16px 32px rgba(69, 90, 100, 0.4);
  border-radius: 6px;
  padding: 10px 17px;
  position: relative;
}

.button::after {
  left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.button::after {
  border-color: rgba(0, 0, 0, 0);
	border-left-color: #000000;
  border-width: 25px 14px;
  border-radius: 58%;
  margin-top: -25px;
  margin-left: -5px;
}

/* .button::before  {
  border-color: rgba(0, 0, 0, 0);
	border-left-color: #000000;
	border-width: 91px;
	margin-top: -91px;
} */

.phone-wrap__phone a {
  font-style: normal;
  font-weight: bold;
  font-size: calc(15px + 9 * (100vw / 1920));
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .phone-wrap__phone a {
    font-size: calc(15px + (9 + 9 * 0.7) * ((100vw - 320px)/1920));
  }
}

.phone-wrap__mail a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;

}

.button-wrap {
  width: 10.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

/* ----------------- */

/* content */
.ali-logo {
  z-index: 3;
  position: relative;
  padding-top: 92px;
  padding-bottom: 225px;
}

.ali-logo__before {
  font-style: normal;
  font-weight: bold;
  font-size: calc(32px + 22 * (100vw / 1920));
  line-height: 63px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: right;
  padding-right: 8.24%;
  margin-bottom: -0.870rem;
  /* padding-left: 33%;*/
}

@media screen and (max-width: 768px) {
  .ali-logo__before {
    font-size: calc(32px + (22 + 22 * 0.7) * ((100vw - 320px)/1920));;
  }
}

.ali-logo__logo img {
  max-width: 100%;
}

.ali-logo__text {
  font-family: 'Roboto Condensed',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-top: 26px;
}

.button-size-md {
  width: 256px;
  height: 60px;
  padding: 13px 23px;
}

.button.button-size-md::after {
  border-width: 28px 14px;
  margin-top: -28px;
  margin-left: -4px;
}

.ali-logo__button {
  padding-top: 34px;
}

@media screen and (max-width: 768px) {
  .ali-logo {
    padding-top: 10px;
    /* padding-bottom: 225px; */
  }
}

