.fon-orange {
  background: linear-gradient(0deg, #651FFF -1.81%, #FF5900 33.5%, rgba(253, 191, 15, 0.3) 84.16%, #FFFFFF 145.56%), #FDBF0F;
}

.fon-orange::before {
  content: "";
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 59.03%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: relative;
  padding-top: 14px;
}


.header__logo {
  font-family: 'Roboto Condensed', sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: calc(48 * (100vw / 1920));
  line-height: 56px;
  text-transform: uppercase;
}

.header__wrap {
}

.links {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.1875rem;
  color: #000000;
}

.header__navigation-menu {
  list-style-type: none;
  display: flex;
  padding-top: 6px;
  padding-left: 34px;
  justify-content: space-between;
}