.slider__decor {
  position: absolute;
  top: 0;
  right: 3.75rem;
  width: 25.75rem;
  height: 29.875rem;
  background: url(./../../images/paket_mish-bl-5.png) center center / cover no-repeat;
}

.slider__header-mb {
  margin-bottom: 2.25rem;
}

.slider__slide {
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(229, 229, 229, 0.6);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 6px 12px rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.slider__slide::before {
  content: "Кейс";
  top: -1.25rem;
  left: 2.125rem;
  position: absolute;
  width: 6.0625rem;
  height: 2.5rem;
  background: url(./../../images/slider_title-bl-6.png) center center no-repeat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #FFFFFF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;
}



.slide__header {
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #000000;
  padding-bottom: 1.625rem;
}

.slide__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
  padding-bottom: 4.125rem;
}

.slide__figures {
  display: flex;
}

.figures__wrap {
  display: flex;
  padding-left: 2.1875rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.figures__wrap::before {
  content: "";
  top: 0.625rem;
  left: -0.625rem;
  width: 2.125rem;
  height: 2.125rem;
  background: url(./../../images/Group-bl-5.png) center center no-repeat;
  position: absolute;
}

.figures__item1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #000000;
  flex: 1 1 50%;
}

.figures__item2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #000000;
  flex: 1 10 30%;
}

.slide__logo img{
  max-width: 100%;
}

.slide__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__elements {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.8125rem 0;
}

.slider__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__item {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.75rem;
  background-color: #000000;
  border-radius: 50%;
}

.slider__item:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: .4s;
}

.slider__item-active {
  background-color: #FDBF0F;
  transform: scale(1.7);
}

@media screen and (max-width: 786px) {
  .slider__decor {
    display: none;
  }

  .figures__item1 {
    font-size: 1.4375rem;
  }

  .figures__wrap::before {
    top: 0.875rem;
    left: -0.625rem;
    width: 1.625rem;
    height: 1.625rem;
    background: url(./../../images/Group-bl-5.png) center center / cover no-repeat;
  }

  .slider__header-mb {
    margin-bottom: 0px;
  }

  .slide__image {
    padding: 1.875rem 0;
  }

  .slide__content {
    padding: 0;
  }

  .slide__text {
    padding-bottom: 1.875rem;
    margin: 0 auto;
  }

  .slide__figures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
