.fon-purple2 {
  background: #651FFF;
}

.start__content {
  justify-content: space-between;
}

.start__element {
  display: flex;
}

.element__text-white {
  color: #FEFEFE;
  position: relative;
}

.arrow {
  position: relative;
}

.element__circle.arrow::before {
  content: "";
  top: 1.375rem;
  right: 6.25rem;
  width: 3.375rem;
  height: 0.9375rem;
  position: absolute;
  background: url(./../../images/arrow-bl-6.png) center center / cover no-repeat;
}

.start__arrow-to-form {
  background: url(./../../images/Vector-bl-6.png) center center  no-repeat;
  width: 10.375rem; 
  height: 4.875rem;
  margin-top: 0.5625rem;
  display: block;
}

@media screen and (max-width: 768px) {
  .start__content:first-child() {
    margin-top: 0px;
  }

  .start__element {
    margin-bottom: 1.25rem;
  }

  .element__circle.arrow::before {
    display: none;
  }

  .start__arrow-to-form {
    display: none;
  }

}