.header-section_clr-black {
  color: #000000;
}

.group__list-wrap {
  justify-content: flex-end;
  border-right: 2px solid;
  padding-bottom: 5.75rem;
}

.group__title {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #FFFFFF;
  border-radius: 0.25rem;
  background: url(./../../images/title-left_br-bl-3.png);
  padding: 0.625rem 1.875rem;
  margin-bottom: 2.8125rem;
}

.list__items {
  padding-left: 1.125rem;
  list-style: none;
}

.list__item {
  position: relative;
  padding-left: 0.75rem;
  margin-bottom: 1.125rem;
  padding-right: 7.25rem;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;
}

.list__item::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: #000000;
  border-radius: 50%;
  top: 0.3125rem;
  left: -1.125rem;
}

.group__pic {
  margin: 3.75rem 0 0 0;
  background: url(./../../images/pc-bl-3.png) center center / cover no-repeat;
  width: 32.2125rem;
  height: 18.125rem;
}

.group__pic img {
  max-width: 100%;
}

.group__title_size-md {
  padding: 0.625rem 1.525rem;
  background: url(./../../images/title-right_br-bl-3.png);
}

.group__right-wrap {
  justify-content: flex-end;
}

.content-hub {
  display: flex;
  flex-wrap: wrap;
}

.content-hub__item {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #000000;
  flex: 1 1 50%;
  position: relative;
  padding: 0 2.5rem 3.5rem 3rem;

}

.content-hub__item::before {
  content: "";
  position: absolute;
  background: url(./../../images/right-items-circle.png);
  width: 2.125rem;
  height: 2.125rem;
  top: 0;
  left: 0;
}

.padding-right {
  padding-right: 23.625rem;
}

.content-hub__text {
  position: relative;
  padding-top: 4.125rem;
  padding-bottom: 7.125rem;
}

.content-hub__text span {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #000000;
  padding-left: 7.625rem;
  padding-right: 4.125rem;
  display: inline-block;
}

.content-hub__text::before {
  content: "";
  position: absolute;
  width: 6.375rem;
  height: 5.5625rem;
  background: url(./../../images/vverx-bl-3.png);
  top: 3.75rem;
  left: 0;
}

.button-size-lg {
  padding: 0.708em 3.583em 0.808em 3.583em;
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
}

.button.button-size-lg::after {
  border-width: 1.62em .8em;
  margin-top: -1.62em;
}

.content-hub__butn {
  margin-left: -0.625rem;
}


/* ----bottom */

._container {
  background: #7224EA;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 6px 12px rgba(0, 0, 0, 0.14);
  width: 100%;
  max-width: 75.625rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.ali-footer__item {
  padding-left: 6.25rem;
  position: relative;
  margin-bottom: 4.0625rem;
}

.ali-footer__item::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: url(./../../images/dom-bl-3.png) center center no-repeat;
  top: 0;
  left: 0;
  border: 2px solid #FFFFFF;
}

.ali-footer__item.zavod_icon::before {
  background: url(./../../images/zavodik-bl-3.png) center center no-repeat;
}

.ali-footer__header {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 0.875rem;
}

.ali-footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #FFFFFF;
}

.ali__bottom-wrap {
  padding-bottom: 4.75rem;
}


@media screen and (max-width: 768px) {
  .ali-footer__item {
    padding-bottom: 3.125rem;
    margin-bottom: 0px;
  }

  .group__list-wrap {
    justify-content: center;
  }

  .group__right-wrap {
    justify-content: center;
  }

  .button-size-lg {
    padding: 0.66em 0.77em 0.83em 1.05em;
    font-size: 1.125rem;
  }

  .button.button-size-lg::after {
    border-width: 1.72em 0.77em;
    margin-top: -1.72em;
  }

  .button {
    display: inline-block;
    margin: 1.25rem
  }

  .content-hub__text {
    position: relative;
    padding-top: 0px;
    padding-bottom: 1.875rem;
  }

  .content-hub__text::before {
    top: -1rem;
  }

  .ali__bottom-wrap {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 480px) {
  .ali-footer__item {
    padding-bottom: 3.125rem;
  }

  .list__item {
    padding-right: 0px;
  }

  .content-hub__text::before {
    top: 20px;
  }

  .padding-right {
    padding-right: 0px; 
  }

  .content-hub__text {
    padding-top: 0px;
    padding-bottom: 2.5rem;
  }
  
}